Magic 271485
Revision Verdi_T-2022.06

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 729 311 103

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / -i 0 "" "/home/daniel_kuo/Falcon/hardware/fft/01_RTL/FFT.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 43835.296622 48379.000000
cursor 181600.000000
marker 0.000000

; visible top row signal index
top 1
; marker line index
markerPos 73

; rename signal list
; addRenameSig new_name org_name
activeDirFile "" "/home/daniel_kuo/Falcon/hardware/fft/01_RTL/FFT.fsdb"

addRenameSig "/TESTBED/u_FFT/u_stage_1/in_valid_1" "/TESTBED/u_FFT/u_stage_1/in_valid"

; rename signal list
; addRenameSig new_name org_name

addRenameSig "/TESTBED/u_FFT/u_stage_2/in_valid_2" "/TESTBED/u_FFT/u_stage_2/in_valid"

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU fi_re_exp_FFT[31:0] "/TESTBED/u_FFT/fi_re[63:0]"==0?0:"/TESTBED/u_FFT/fi_re[62:52]"-1023+1\
27

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU fi_re[31:0] {"/TESTBED/u_FFT/fi_re[63]", "/fi_re_exp_FFT[7:0]", "/TESTBED/u_FFT/fi\
_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU fi_im_exp_FFT[31:0] "/TESTBED/u_FFT/fi_im[63:0]"==0?0:"/TESTBED/u_FFT/fi_im[62:52]"-1023+1\
27

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU fi_im[31:0] {"/TESTBED/u_FFT/fi_im[63]", "/fi_im_exp_FFT[7:0]", "/TESTBED/u_FFT/fi\
_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU input_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/di_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_1/\
di_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU input_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/di_re[63]", "/input_re_exp_1[7:0]", "/TESTB\
ED/u_FFT/u_stage_1/di_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU input_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/di_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_1/\
di_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU input_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/di_im[63]", "/input_im_exp_1[7:0]", "/TESTB\
ED/u_FFT/u_stage_1/di_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU mult_re_reg_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/mult_d_re_reg[63:0]"==0?0:"/TESTBED/u_FFT/u_\
stage_1/mult_d_re_reg[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU mult_re_reg_1[31:0] {"/TESTBED/u_FFT/u_stage_1/mult_d_re_reg[63]", "/mult_re_reg_exp_1[7:0\
]", "/TESTBED/u_FFT/u_stage_1/mult_d_re_reg[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU mult_re_reg_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/mult_d_re_reg[63:0]"==0?0:"/TESTBED/u_FFT/u_\
stage_2/mult_d_re_reg[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU mult_re_reg_2[31:0] {"/TESTBED/u_FFT/u_stage_2/mult_d_re_reg[63]", "/mult_re_reg_exp_2[7:0\
]", "/TESTBED/u_FFT/u_stage_2/mult_d_re_reg[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU mult_im_reg_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/mult_d_im_reg[63:0]"==0?0:"/TESTBED/u_FFT/u_\
stage_1/mult_d_im_reg[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU mult_im_reg_1[31:0] {"/TESTBED/u_FFT/u_stage_1/mult_d_im_reg[63]", "/mult_im_reg_exp_1[7:0\
]", "/TESTBED/u_FFT/u_stage_1/mult_d_im_reg[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU mult_im_reg_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/mult_d_im_reg[63:0]"==0?0:"/TESTBED/u_FFT/u_\
stage_2/mult_d_im_reg[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU mult_im_reg_2[31:0] {"/TESTBED/u_FFT/u_stage_2/mult_d_im_reg[63]", "/mult_im_reg_exp_2[7:0\
]", "/TESTBED/u_FFT/u_stage_2/mult_d_im_reg[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_in_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/di_re[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_1/u_DELAY_BUFFER/di_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_in_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/di_re[63]", "/delay_in_re_ex\
p_1[7:0]", "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/di_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_in_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/di_im[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_1/u_DELAY_BUFFER/di_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_in_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/di_im[63]", "/delay_in_im_ex\
p_1[7:0]", "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/di_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_out_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/do_re[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_1/u_DELAY_BUFFER/do_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_out_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/do_re[63]", "/delay_out_re_e\
xp_1[7:0]", "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/do_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_out_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/do_im[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_1/u_DELAY_BUFFER/do_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_out_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/do_im[63]", "/delay_out_im_e\
xp_1[7:0]", "/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/do_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_in_re_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/di_re[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_2/u_DELAY_BUFFER/di_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_in_re_2[31:0] {"/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/di_re[63]", "/delay_in_re_ex\
p_2[7:0]", "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/di_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_in_im_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/di_im[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_2/u_DELAY_BUFFER/di_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_in_im_2[31:0] {"/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/di_im[63]", "/delay_in_im_ex\
p_2[7:0]", "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/di_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_out_re_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/do_re[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_2/u_DELAY_BUFFER/do_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_out_re_2[31:0] {"/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/do_re[63]", "/delay_out_re_e\
xp_2[7:0]", "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/do_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU delay_out_im_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/do_im[63:0]"==0?0:"/TESTBED/u\
_FFT/u_stage_2/u_DELAY_BUFFER/do_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU delay_out_im_2[31:0] {"/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/do_im[63]", "/delay_out_im_e\
xp_2[7:0]", "/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/do_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU twid_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/s_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_1/s\
_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU twid_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/s_re[63]", "/twid_re_exp_1[7:0]", "/TESTBED\
/u_FFT/u_stage_1/s_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU twid_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/s_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_1/s\
_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU twid_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/s_im[63]", "/twid_im_exp_1[7:0]", "/TESTBED\
/u_FFT/u_stage_1/s_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU output_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/do_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_1/\
do_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU output_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/do_re[63]", "/output_re_exp_1[7:0]", "/TEST\
BED/u_FFT/u_stage_1/do_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU output_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/do_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_1/\
do_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU output_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/do_im[63]", "/output_im_exp_1[7:0]", "/TEST\
BED/u_FFT/u_stage_1/do_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU output_re_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/do_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_2/\
do_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU output_re_2[31:0] {"/TESTBED/u_FFT/u_stage_2/do_re[63]", "/output_re_exp_2[7:0]", "/TEST\
BED/u_FFT/u_stage_2/do_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU output_im_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/do_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_2/\
do_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU output_im_2[31:0] {"/TESTBED/u_FFT/u_stage_2/do_im[63]", "/output_im_exp_2[7:0]", "/TEST\
BED/u_FFT/u_stage_2/do_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU X_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/X_re[63:0]"==0?0:"/TESTBED/u_FFT\
/u_stage_1/u_BUTTERFLY/X_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU X_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/X_re[63]", "/X_re_exp_1[7:0]", \
"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/X_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU X_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/X_im[63:0]"==0?0:"/TESTBED/u_FFT\
/u_stage_1/u_BUTTERFLY/X_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU X_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/X_im[63]", "/X_im_exp_1[7:0]", \
"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/X_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU Y_re_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/Y_re[63:0]"==0?0:"/TESTBED/u_FFT\
/u_stage_1/u_BUTTERFLY/Y_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU Y_re_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/Y_re[63]", "/Y_re_exp_1[7:0]", \
"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/Y_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU Y_im_exp_1[31:0] "/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/Y_im[63:0]"==0?0:"/TESTBED/u_FFT\
/u_stage_1/u_BUTTERFLY/Y_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU Y_im_1[31:0] {"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/Y_im[63]", "/Y_im_exp_1[7:0]", \
"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY/Y_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU input_re_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/di_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_2/\
di_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU input_re_2[31:0] {"/TESTBED/u_FFT/u_stage_2/di_re[63]", "/input_re_exp_2[7:0]", "/TESTB\
ED/u_FFT/u_stage_2/di_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU input_im_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/di_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_2/\
di_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU input_im_2[31:0] {"/TESTBED/u_FFT/u_stage_2/di_im[63]", "/input_im_exp_2[7:0]", "/TESTB\
ED/u_FFT/u_stage_2/di_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU input_re_exp_3[31:0] "/TESTBED/u_FFT/u_stage_3/di_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_3/\
di_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU input_re_3[31:0] {"/TESTBED/u_FFT/u_stage_3/di_re[63]", "/input_re_exp_3[7:0]", "/TESTB\
ED/u_FFT/u_stage_3/di_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU input_im_exp_3[31:0] "/TESTBED/u_FFT/u_stage_3/di_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_3/\
di_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU input_im_3[31:0] {"/TESTBED/u_FFT/u_stage_3/di_im[63]", "/input_im_exp_3[7:0]", "/TESTB\
ED/u_FFT/u_stage_3/di_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU twid_re_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/s_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_2/s\
_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU twid_re_2[31:0] {"/TESTBED/u_FFT/u_stage_2/s_re[63]", "/twid_re_exp_2[7:0]", "/TESTBED\
/u_FFT/u_stage_2/s_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU twid_im_exp_2[31:0] "/TESTBED/u_FFT/u_stage_2/s_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_2/s\
_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU twid_im_2[31:0] {"/TESTBED/u_FFT/u_stage_2/s_im[63]", "/twid_im_exp_2[7:0]", "/TESTBED\
/u_FFT/u_stage_2/s_im[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU twid_re_exp_3[31:0] "/TESTBED/u_FFT/u_stage_3/s_re[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_3/s\
_re[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU twid_re_3[31:0] {"/TESTBED/u_FFT/u_stage_3/s_re[63]", "/twid_re_exp_3[7:0]", "/TESTBED\
/u_FFT/u_stage_3/s_re[51:29]"}

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UU twid_im_exp_3[31:0] "/TESTBED/u_FFT/u_stage_3/s_im[63:0]"==0?0:"/TESTBED/u_FFT/u_stage_3/s\
_im[62:52]"-1023+127

; logical expression list
; addExprSig expr_name expression_string

addExprSig -b 32 -n UUU twid_im_3[31:0] {"/TESTBED/u_FFT/u_stage_3/s_im[63]", "/twid_im_exp_3[7:0]", "/TESTBED\
/u_FFT/u_stage_3/s_im[51:29]"}

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname RADIX2.state_reg
nalias S_IDLE		1'b0		NULL
nalias S_EXE		1'b1		NULL

addGroup "FFT"
activeDirFile "" "/home/daniel_kuo/Falcon/hardware/fft/01_RTL/FFT.fsdb"
addSignal -h 15 /TESTBED/u_FFT/clk
addSignal -h 15 -holdScope rst_n
addSubGroup "INPUT"
addSignal -h 15 /TESTBED/u_FFT/in_valid
addSignal -h 15 -UNSIGNED -IEEE754 /fi_re[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope fi_im[31:0]
endSubGroup "INPUT"
addGroup "STAGE_1" -e FALSE
addSignal -h 15 /TESTBED/u_FFT/u_stage_1/state_reg
addSignal -h 15 -UNSIGNED -UDEC -holdScope cnt_reg[8:0]
addSignal -h 15 -holdScope i1[0:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope tw_idx[8:0]
addSubGroup "INPUT" -e FALSE
addSignal -h 15 /TESTBED/u_FFT/u_stage_1/in_valid_1
addSignal -h 15 -UNSIGNED -IEEE754 /input_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope input_im_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope twid_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope twid_im_1[31:0]
endSubGroup "INPUT"
addSubGroup "MULT" -e FALSE
addSignal -h 15 -UNSIGNED -IEEE754 /mult_re_reg_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope mult_im_reg_1[31:0]
endSubGroup "MULT"
addSubGroup "DELAY_BUFFER"
addSignal -h 15 /TESTBED/u_FFT/u_stage_1/delay_mux
addSignal -h 15 /TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/ena
addSignal -h 15 -holdScope i_valid
addSignal -h 15 -UNSIGNED -IEEE754 /delay_in_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope delay_in_im_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope delay_out_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope delay_out_im_1[31:0]
addSignal -h 15 -UNSIGNED -HEX /TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER/buf_valid[0:127]
endSubGroup "DELAY_BUFFER"
addSubGroup "BUTTERFLY" -e FALSE
addSignal -h 15 -UNSIGNED -IEEE754 /X_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope X_im_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope Y_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope Y_im_1[31:0]
endSubGroup "BUTTERFLY"
addSubGroup "OUTPUT"
addSignal -h 15 /TESTBED/u_FFT/u_stage_1/output_mux
addSignal -h 15 -holdScope out_valid
addSignal -h 15 -UNSIGNED -IEEE754 /output_re_1[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope output_im_1[31:0]
endSubGroup "OUTPUT"
addGroup "STAGE_2"
addSignal -h 15 /TESTBED/u_FFT/u_stage_2/state_reg
addSignal -h 15 -UNSIGNED -UDEC -holdScope cnt_reg[8:0]
addSignal -h 15 -holdScope i1[0:0]
addSignal -h 15 -holdScope mask
addSignal -h 15 -UNSIGNED -HEX -holdScope tw_idx[8:0]
addSubGroup "INPUT" -e FALSE
addSignal -h 15 /TESTBED/u_FFT/u_stage_2/in_valid_2
addSignal -h 15 -UNSIGNED -IEEE754 /input_re_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope input_im_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope twid_re_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope twid_im_2[31:0]
endSubGroup "INPUT"
addSubGroup "MULT" -e FALSE
addSignal -h 15 -UNSIGNED -IEEE754 /mult_re_reg_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope mult_im_reg_2[31:0]
endSubGroup "MULT"
addSubGroup "DELAY_BUFFER" -e FALSE
addSignal -h 15 /TESTBED/u_FFT/u_stage_2/delay_mux
addSignal -h 15 /TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/ena
addSignal -h 15 -holdScope i_valid
addSignal -h 15 -UNSIGNED -IEEE754 /delay_in_re_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope delay_in_im_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope delay_out_re_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope delay_out_im_2[31:0]
addSignal -h 15 -UNSIGNED -HEX /TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER/buf_valid[0:63]
endSubGroup "DELAY_BUFFER"
addSubGroup "OUTPUT"
addSignal -h 15 /TESTBED/u_FFT/u_stage_2/output_mux
addSignal -h 15 -holdScope out_valid
addSignal -h 15 -UNSIGNED -IEEE754 /output_re_2[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope output_im_2[31:0]
endSubGroup "OUTPUT"
addGroup "STAGE_3"
addSignal -h 15 /TESTBED/u_FFT/u_stage_3/state_reg
addSignal -h 15 -UNSIGNED -UDEC -holdScope cnt_reg[8:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope i1[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope tw_idx[8:0]
addSubGroup "INPUT"
addSignal -h 15 -UNSIGNED -IEEE754 /input_re_3[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope input_im_3[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope twid_re_3[31:0]
addSignal -h 15 -UNSIGNED -IEEE754 -holdScope twid_im_3[31:0]
endSubGroup "INPUT"
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/daniel_kuo/Falcon/hardware/fft/01_RTL/FFT.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/TESTBED"
"/TESTBED/u_FFT"
"/TESTBED/u_FFT/u_stage_2"
"/TESTBED/u_FFT/u_stage_3"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD/u_FPC_ADD_0"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD/u_FPC_ADD_0/U1"

SCOPE_LIST_BEGIN
"/TESTBED"
"/TESTBED/u_FFT"
"/TESTBED/u_FFT/u_stage_1"
"/TESTBED/u_FFT/u_stage_1/u_DELAY_BUFFER"
"/TESTBED/u_FFT/u_stage_1/u_BUTTERFLY"
"/TESTBED/u_PATTERN"
"/TESTBED/u_FFT/u_stage_2"
"/TESTBED/u_FFT/u_stage_2/u_DELAY_BUFFER"
"/TESTBED/u_FFT/u_stage_3"
"/TESTBED/u_FFT/u_stage_3/u_DELAY_BUFFER"
"/TESTBED/u_FFT/u_stage_2/u_FPC_MUL"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD/u_FPC_ADD_0"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD/u_FPC_ADD_0/U1"
"/TESTBED/u_FFT/u_stage_3/u_BUTTERFLY/u_FPC_ADD/u_FPC_ADD_0/U1/parameter_check"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


