# software
*.o
test_falcon
*tmp*
*TSMC*
*tsmc*
.vscode/
*.exe
__pycache__/

# side-channel-attack
*trace*
correlations/

# 01_RTL
csrc/
simv.daidir/
verdiLog/
simv
*.fsdb*
novas*
*.key
*.exp
*.json

# 02_SYN
alib-52/
*.ddc
*.pvl
*.pvk
*.syn
*.svf
*.mr
*.sdf
filenames*

# 03_GATE
check.log

# 07_LINT
spyglass_run/

